<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.huskychat.mapper.userrelation.UserRelationMapper">
    <select id="getRelation" resultType="userRelation">
        SELECT
            accountA,
            accountB,
            remarks,
            reasonRemarks,
            time,
            status
        FROM userrelation
        <where>
            <if test="accountA != null">
                and accountA = #{accountA}
            </if>
            <if test="accountB != null">
                and accountB = #{accountB}
            </if>
        </where>
    </select>

    <insert id="addRelation" parameterType="userRelation">
        INSERT INTO userRelation(accountA, accountB, remarks, reasonRemarks, time, status)
        VALUES
        (#{accountA}, #{accountB}, #{remarks}, #{reasonRemarks}, NOW(), #{status})
    </insert>

    <delete id="delRelation">
        DELETE FROM userrelation
        <where>
            <if test="accountA != null">
                and accountA = #{accountA}
            </if>
            <if test="accountB != null">
                and accountB = #{accountB}
            </if>
        </where>
    </delete>
    
    <update id="updateRelation" parameterType="userRelation">
        UPDATE userralation
        <set>
            <if test="remarks != null">
                remarks = #{remarks},
            </if>
            <if test="status != null">
                status = #{status}
            </if>
        </set>
        WHERE accountA = #{accountA} and accountB = #{accountB}
</update>
</mapper>